/Exercicio_SystemOut_Com_JUNIT/nbproject/private/
/Exercicio_SystemOut_Com_JUNIT/build/
/Exercicio_Aula2/build/
/Exercicio_Aula2/nbproject/private/
/Exercicio_SystemOut_Com_JUNIT2/build/
/Exercicio_SystemOut_Com_JUNIT2/nbproject/private/
/Exercicio_SystemOut_Com_JUNIT2/dist/
/GameTrabalhoLP/target/